@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply font-light
  }
  .input {
    @apply bg-primary1 text-center h-6;
  }
  .sideIcon {
    @apply bg-primary5 w-12 h-12 m-2 rounded-3xl flex items-center justify-center text-3xl cursor-pointer transition-all duration-300 hover:rounded-xl;
  }
  .footer {
    @apply text-white w-full md:w-[calc(100vw-4rem)] md:ml-16 duration-500 md:fixed delay-[0ms] h-52 bg-back transition-transform flex items-center flex-col gap-4 justify-center;
  }
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent
}

.react-datepicker__header {
  @apply bg-primary1
}
.react-datepicker__month {
  @apply bg-primary2 m-0 p-2
}

.react-datepicker__day:hover {
  @apply bg-primary1
}

.react-datepicker__day--in-range {
  @apply bg-primary4
}

.react-datepicker__day--selected {
  @apply bg-primary
}
  
/* .deskTwo {
  grid-template-columns: minmax(0, 3fr) 1fr;
  grid-template-rows: 1fr minmax(0, 1fr);
} */

.react-datepicker__month-container * {
  @apply text-secondary
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}